<template name="footer">
	<div class="footer">
		{{> actions}}
		{{> leaderboard}}
		<div class="controls">
			<dl>
				<dt>↑ ↓ ← →</dt>
				<dd>move player</dd>

				<dt>b</dt>
				<dd>bomb</dd>

				<dt>x</dt>
				<dd>lightning bolt</dd>

				<dt>enter</dt>
				<dd>chat bubble</dd>
			</dl>
		</div>
		<div class="info">
			This is proof of concept multiplayer game written using the <a href="http://www.meteor.com/" target="_blank">Meteor</a> framework.<br />
			Find the source on <a href="https://github.com/matb33/dostag" target="_blank">GitHub</a> — use it as a <a href="https://raw.github.com/matb33/dostag/master/LICENSE" target="_blank">starting point</a> for your next hackathon!<br />
			Written by <a href="http://www.matb33.me/" target="_blank">Mathieu Bouchard</a>, <a href="http://twitter.com/matb33" target="_blank">@matb33</a>
		</div>
	</div>
</template>