<head>
	<title>DOSTAG</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<link rel="stylesheet" href="/font/fontawesome/css/font-awesome.css" />
	<link rel="stylesheet" href="/font/terminus/stylesheet.css" />
</head>

<body>
	{{> index}}
</body>

<template name="index">
	<table class="prompt">
		<tbody>
			<tr>
				<td colspan="3">
					<table class="prompt2">
						<tbody>
							<tr>
								<td class="prompt1"></td>
								<td class="prompt3"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="prompt4"></td>
				<td class="inside">{{> viewport}}</td>
				<td class="prompt5"></td>
			</tr>
			<tr>
				<td class="prompt6"></td>
				<td class="prompt7"></td>
				<td class="prompt8"></td>
			</tr>
		</tbody>
	</table>
</template>